@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  height: 100vh;

  color-scheme: light dark;
  color: rgb(0, 0, 0); 


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

body {
  margin: 0;
  background-color:#F7F7F7
}
h1{
  text-align: center;
}

div span .mantine-1gkkvdk:disabled, .mantine-1gy46q8:disabled, .mantine-wai1xk:disabled{
    @apply text-[#62D2A2] font-bold;
} 
.mantine-Input-input, .mantine-PasswordInput-input, .mantine-DatePicker-day, .mantine-Input-rightSection, .mantine-Select-root{
  border-color: #62D2A2 !important;
}

.mantine-1f8v7sc[data-selected]{
  background-color: #62D2A2 !important;
}

.button{
  border-radius: 2rem;
  justify-content: center;
  color: #000;
  font-weight: bold;
}

.isBackgroundGray90 {
  background: #E5E5E5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
  }
  :root:focus{
    color: #29A073;
  }
  a:hover {
    color: #29A073;
  }
}